- Vocabulary are in **bold text**.

- Code snippets are in `monospace`.

- Comments starts with the `#` symbol; they will be ignored by the Python interpreter.

- Run all following cells, including the ones that would not work to familiarize yourself with the error messages.

The `print` function displays values of variables or constants onto thee screen.

In [ ]:
print("Hello world")

# Variables and Basic Types

It is at times useful to think of variables as places to store values. The variable `x` refers to a certain space, `y` another. You may change the values stored in these spaces, but before doing that, you need to define the variable.

To define an variable, write `variable_name = value`. Note that you are also assigning a value to that variable.

Basic **Data Types** include numbers (`int` and `float`), and strings (`str`)

First, we look at numbers.

## Numbers (`int` and `float`)

In [ ]:
myint = 7
print(myint)

myfloat = 7.0
print(myfloat)

Some operations you can do with numbers

In [ ]:
one = 1
two = 2
three = one + two
print(three)

Some more operations

In [ ]:
number = 1 + 2 * 3 / 4.0
print(number)

remainder = 11 % 3
print(remainder)

squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

## Strings (`str`)



The second basic data type in python is **string** (`str`), which represent a sequence of characters.

Strings are enclosed in (either single or double) quotation marks.

In [ ]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

mystring = "Don't worry about apostrophes. If you want an apostrophe (single quotation mark) in your string, just use double quotation marks to enclose the string."
print(mystring)

You may concatenate multiple strings using `+`.

In [ ]:
hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

## Converting types

In [ ]:
# Since not all variables are strings, the following will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

You can convert between types using `typename(variable)`.

Type names include `int` for integer, `float` for floating point numbers, and `str` for strings.

In [ ]:
number = 15
print(str(number))
print(float(number))

In [ ]:
string = "10"
print(int(string))
print(float(string))
print(float("10.123"))

Of course, you can only convert a string into a number if the string may be interpreted as a number (resp. integer).

For example, the following will not work. Try them!

In [ ]:
print(float("abc"))
print(int("10.282"))

# Conditionals